# Secrets & Config
local.properties
google-services.json
*.jks
*.keystore
*.p12
secrets.xml

# Internal Artifacts
.artifacts/
app/src/main/java/com/cryptopulse/.artifacts/

# IDE
*.iml
.gradle
/.idea/
/build
/captures
.externalNativeBuild
.cxx
